<!-- Display/call header ejs template-->
<%- include('partials/header') %>
    <section>
          <br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-primary text-center" role="alert">
                        Welcome to the Travel Journal App!
                    </div>
                    <br>
                    <h1>Welcome to the Travel Journal App</h1>
                    <p>This is a simple web application that allows you to create and manage your travel journals.</p>
                    <p>Click on the Journals link in the navigation bar to view your journals.</p>
                    <a class="btn btn-primary" href="/journals" role="button">View Journals</a>
                </div>
            </div>
        </div>

    </section>

    
</body>
<%- include('partials/footer') %>